# Required Configs
credentials           = "..." #Example "~/<PATH_TO_FILE>/keys.json"
project               = "..."
region                = "..."
circleci_zone         = "..."
circleci_network_name = "..."
subnet_name           = "..."

# Optional
services_machine_type     = "n2-standard-8" # Minimum Requirement: 8 vCPU / 32 GB Memory
nomad_client_machine_type = "n2-standard-8" # Minimum Requirement: 8 vCPU / 32 GB Memory